{
    "bracketSpacing": true,
    "singleQuote": true,
    "semi": true,
    "printWidth": 80,
    "endOfLine": "lf",
    "trailingComma": "all",
    "useTabs": false,
    "jsxBracketSameLine": false
}